* {
  margin: 0;
}
.todo_1 {
  width: 500px;
  height: 349px;
  background-color: coral;

  /* TODO */
  /* 포지션 구현하기 */
  /* 불투명도 구현하기 */
  position: relative;
  left : 300px;
  top : 200px;
  opacity : 0.5;
  z-index : 1;
}
.todo_2 {
  width: 500px;
  height: 349px;
  background-color: lightseagreen;

  /* TODO */
  /* 포지션 구현하기 */
  /* 불투명도 구현하기 */
  position: relative;
  left : 200px;
  bottom :  130px;
  opacity: 0.5;
  z-index : 3;
}
.todo_3 {
  width: 500px;
  height: 349px;
  background-color: lightskyblue;

  /* TODO */
  /* 포지션 구현하기 */
  /* 불투명도 구현하기 */
  /* 사진 위로 오게끔 하기 */
  position: relative;
  left : 100px;
  bottom : 200px;
  opacity : 0.5;
  z-index : 5;
}

.sample_img {
  width: 536px;
  height: 349px;

  position: absolute;
  top: 200px;
}
